* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-y: hidden;
}

.open__envelop {
  position: absolute;
  opacity: 0;
  bottom: 60%;
  font-family: 'poppins';
  color: rgb(155, 155, 155);
  text-shadow:
    0 0 5px white,
    0 0 10px white,
    0 0 15px white,
    0 0 20px rgb(255, 255, 255),   /* azul ciano */
    0 0 30px rgb(255, 255, 255),
    0 0 40px rgb(255, 255, 255),
    0 0 55px rgb(255, 255, 255),
    0 0 75px #0ff;
  
}

.scissors {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
  animation: riseFromBelow 8s ease-in-out;
}

.envelop {
  pointer-events: none;
  cursor: pointer;
  width: 15rem;
  height: 10rem;
  position: absolute;
  animation: moveenv 10s infinite alternate;
}

.sirene {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 30vmin;
  height: 30vmin;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  z-index: 1;
  filter: blur(8vmin);
  border-radius: 50%;
  pointer-events: none;

  background: conic-gradient(
    from 0deg,
    transparent 0deg 90deg,
    rgba(255, 0, 0, 0.8) 90deg 180deg,
    transparent 180deg 270deg,
    rgba(255, 0, 0, 0.8) 270deg 360deg
  );

  animation: spinSirene 1s linear infinite, pulseSirene 1s ease-in-out infinite;

}

.btn__wrapper {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
}

.image-border-glow {
  position: relative;
  display: inline-block;
  padding: 5px;
  border-radius: 12px;
  overflow: hidden;
}

.image-border-glow::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    from 0deg,
    #00f, #0ff, #0f0, #ff0, #f00, #f0f, #00f
  );
  animation: rotate-glow 3s linear infinite;
  z-index: 0;
}

.image-border-glow img {
  position: relative;
  z-index: 1;
  display: block;
  border-radius: 12px;
}

.next__button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  margin: auto;
  background-color: crimson;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  color: #d6b1b1;
  font-family: "poppins";
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
  animation: txtcolor 1s linear infinite;
}

.image {
  position: absolute;
  bottom: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 999999999999;
}

/* .image__text {
  font-family: "poppins";
  color: #fff;
  text-align: center;
  & p {
    font-size: 1.5rem;
    animation: auraDance 2s infinite alternate ease-in-out;
  }
  & h1 {    
    font-size: 3rem; 
    animation: auraDance 1s infinite alternate ease-in-out;
  }
} */

.image__text  {
  font-family: "poppins";
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
  & p {
    font-size: 1.5rem;
  }
  & h1 {    
    font-size: 3rem; 
  }
}


@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    25% {
        text-shadow: 0 0 5px #ffae00, 0 0 10px #ffae00, 0 0 20px #ffae00, 0 0 40px #ffae00, 0 0 80px #ffae00;
    }
    50% {
        text-shadow: 0 0 5px #00ffae, 0 0 10px #00ffae, 0 0 20px #00ffae, 0 0 40px #00ffae, 0 0 80px #00ffae;
    }
    75% {
        text-shadow: 0 0 5px #6a00ff, 0 0 10px #6a00ff, 0 0 20px #6a00ff, 0 0 40px #6a00ff, 0 0 80px #6a00ff;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}


@keyframes rotate-glow {
  to {
    transform: rotate(360deg);
  }
}

@keyframes auraDance {
   0% {
    text-shadow:
      0 0 4px white,
      0 0 8px white,
      0 0 16px white,
      0 0 32px white;
  }
  100% {
    text-shadow:
      0 0 10px white,
      0 0 20px white,
      0 0 40px white,
      0 0 80px white;
  }
}

@keyframes riseFromBelow2 {
  from {
    bottom: -100%;
    
  }
  to {
    bottom: 0;
    
  }
}

@keyframes sas {
  from {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: scale(0) rotate(2160deg); /* mais giros = mais fluidez */
    opacity: 0;
  }
}

@keyframes txtcolor {
  0%   { color: #ff0000; background-color: #ffffff;}
  50%  { color: #ffffff; background-color: #ff0000;}
  100% { color: #ff0000; background-color: #ffffff;}
}

@keyframes spinSirene {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes pulseSirene {
  0%, 100% { box-shadow: 0 0 10px 5px red; opacity: 0.8; }
  50%      { box-shadow: 0 0 25px 10px crimson; opacity: 1; }
}

@keyframes moveenv2 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1000%);
  }
}

@keyframes moveenv {
  0% {
    transform: translateY(5%);
  }
  20% {
    transform: translateY(-5%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-5%);
  }
  80% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-5%);
  }

}

@keyframes showtxt {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes oculttxt {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes riseFromBelow {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .envelop {
    width: 20rem;
    height: 15rem;
  }
  .open__envelop {
    bottom: 70%;
  }
}
@media (min-width: 600px) {
  .envelop {
    width: 25rem;
    height: 20rem;
  }
}
@media (min-width: 600px) and (min-height: 600px) {
  .envelop {
    bottom: 20%;
  }
  .open__envelop {
    bottom: 60%;
  }
}
.envelop__front-paper {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  border-radius: 0.7rem;
  border: 0.35rem solid #967b5c;
  background-color: #ac8b66;
  clip-path: polygon(100% 0%, 50% 70%, 0% 0%, 0% 100%, 100% 100%);
  z-index: 300;
}
.envelop__back-paper {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  border-radius: 0.7rem;
  background-color: #967b5c;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 90%);
  z-index: 100;
}
.envelop__up-paper {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  position: relative;
  border-radius: 0.7rem;
  background-color: #967b5c;
  z-index: 400;
  clip-path: polygon(0% 0%, 100% 0%, 50% 81%);
}
.envelop__sticker {
  width: 100%;
  height: 20%;
  position: absolute;
  margin: auto;
  top: 30%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 400;
  background-image: url("https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png");
  background-color: #f9f9f9;
  border: 0.3rem solid #e2e2e2;
  background-size: 2rem;
  background-position: center;
}

.envelop__false-sticker {
  width: 20%;
  height: 20%;
  position: absolute;
  margin: auto;
  top: 30%;
  left: 80%;
  bottom: 0;
  right: 0;
  z-index: 300;
  background-image: url("https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png");
  background-color: #f9f9f9;
  border: 0.3rem solid #e2e2e2;
  background-size: 2rem;
  background-position: center;
}

.envelop__content {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 200;
}

.love-notes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note {
  width: 95%;
  height: 30%;
  background-color: #f9f9f9;
  position: absolute;
  overflow: hidden;
  transition: height 0.5s, opacity 0.25s;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.note:nth-child(1) {
  bottom: 60%;
}
.note:nth-child(2) {
  bottom: 40%;
}
.note:nth-child(3) {
  bottom: 20%;
}
.note:hover {
  cursor: pointer;
  height: 45%;
}
.note__text {
  font-family: "Sofia";
  padding: 1rem;
}
.note__text p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.cursor {
  cursor: pointer;
}